@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding:0;
    
}

.nav{
    background-color: crimson;
    display: flex;
    align-items: center;
    position: sticky;
    
}


.navlist{
    width: 70%; 
    display: flex; 
    align-items: center;
}

.navlist li{
    list-style:none;
    padding: 26px 30px;
}

.navlist li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.background{
    background: #0C0032; 
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
        height: 80%;
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 70%; 
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 81px;
}

.text-small{
    font-size: 38px;
}

.btn1{
    padding: 12px 4px ;
    margin: 7px 3px;
    border: 3px solid red;
    border-radius: 50px; 
    background: none;
    background-color:red;
    cursor: pointer;
    font-family:serif;
    font-size: 40px;
    text-align: center;
}
.btn2{
    padding: 12px 2px;
    margin: 7px 3px;
    border: 3px solid red;
    border-radius:50px; 
    background: none;
    background-color:red;
    cursor: pointer;
    font-family: serif;
    font-size: 40px;
    text-align: center; 

}
 
.btn1 a{
    
font-weight: bolder;
    text-decoration: none;
    color: white;
}

.btn2 a{
    
font-weight: bolder;
    text-decoration: none;
color: white;
}


